@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.detail-specialty-container {
    font-family: Montserrat, sans-serif !important;

    .description-specialty {
        margin: 30px 250px;
    }

    .detail-specialty-body {
        padding: 0 250px;
        background: #eeeeee;

        .search-sp-doctor {
            width: 15%;
            padding-top: 20px;
        }

        .each-doctor {
            display: flex;
            width: 100%;
            min-height: 350px;
            margin: 15px 0;
            padding: 10px;

            background-color: #fff;
            box-shadow: 0 1px 6px #20212447;
            border-radius: 8px;

            .dt-content-left {
                width: 50%;
                padding: 5px;
                border-right: 1px solid #ddd;
            }

            .dt-content-right {
                width: 50%;
                padding: 5px 50px 5px 20px;

                .doctor-schedule {}

                .doctor-extra-info {}
            }
        }
    }

}