.verify-email-container {
    .info-booking-success {
        font-size: 17px;
        font-weight: 600;
        margin-top: 100px;
        text-align: center;
        text-transform: uppercase;
        color: green;
    }

    .info-booking-failed {
        font-size: 17px;
        font-weight: 600;
        margin-top: 100px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}