@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.doctor-detail-container {
    font-family: Montserrat, sans-serif !important;
    height: auto;

    .intro-doctor {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        background-color: #ffffff;
        justify-content: center;

        .content-left {
            border: 1px solid grey;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px;
        }

        .content-right {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 30%;
            margin: 0 400px 0 10px;

            .up {
                font-size: 25px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }
        }
    }


    .schedule-doctor {
        height: 300px;
        display: flex;
        justify-content: center;
        text-align: justify;
        margin-top: 20px;

        .content-left {
            width: 35%;
        }

        .content-right {
            width: 25%;
            border-left: 1px solid #eeeeee;
        }
    }

    .detail-info {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        text-align: justify;
        margin-top: 20px;

        .detail-info-doctor {
            width: 100%;
            max-width: 1200px;
            padding: 20px;
            text-align: left;

            img {
                width: 50%;
                padding-left: 2rem;
            }
        }
    }
}