.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        width: 400px;
        border-radius: 15px;
        background-color: white;
        padding: 20px;

        .login-content {
            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 10px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 16px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 30%;
                margin: 10px 0;
                height: 40px;
                border-radius: 20px;
                outline: none;
                border: none;
                color: white;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                transition: background 0.3s ease; // Hiệu ứng hover
                cursor: pointer;
                font-weight: 700;

                &:hover {
                    font-weight: 900;
                    background: linear-gradient(135deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
                }
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                gap: 30px;

                .google,
                .facebook {
                    font-size: 30px;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    transition: background 0.3s ease; // Hiệu ứng hover
                    cursor: pointer;

                    &:hover {
                        filter: brightness(1.3); // Tăng độ sáng khi hover
                    }
                }

                .google {
                    background: #f16767;
                }

                .facebook {
                    background: #307aff;
                }
            }
        }
    }
}