@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.booking-modal-container {
    font-family: Montserrat, sans-serif !important;

    .booking-modal-content {
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 15px;
            border-bottom: 1px solid #ccc;

            .left {
                padding: 0 10px;
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }

            .right {
                padding: 0 10px;
                float: right;
                cursor: pointer;
                border: 1px solid #ccc;
                background: #ccc;
                border-radius: 5px;
            }
        }

        .booking-modal-body {
            padding: 30px;
            height: 100%;

            .price {
                margin: 15px 0;
            }
        }

        .booking-modal-footer {
            border-top: 1px solid #ccc;
            padding: 15px;
            display: flex;
            justify-content: flex-end;
        }
    }
}