.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    .section-body {
        .section-customize {
            text-align: center;
            padding: 10px;
            opacity: 1;

            .bg-image {
                height: 230px;
                border-radius: 10px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #eee;
                margin-bottom: 10px;

                &.section-specialty {
                    background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                }

                &.section-medical-facility {
                    background-image: url('../../assets/medical-facility/093035-benh-vien-thu-cuc-1.jpg');
                }

                &.section-outstanding-doctor {
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                }

                &.section-handbook {
                    background-image: url('../../assets/handbook/may-do-huyet-ap-bap-tay.jpg');
                }
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;

                div {
                    color: rgb(65, 159, 212);
                    font-weight: bold;
                }
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .slick-prev {
            z-index: 1;
            left: -25px !important;
            height: 48px !important;
            width: 44px !important;
            background: #fff !important;
            border: 2px solid #d7d7d7 !important;
            opacity: 0.6;
            border-radius: 5px;
            transition: box-shadow 0.2s ease, opacity 0.2s ease !important;

            &:hover {
                opacity: 1;
            }

            &:active {
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
                opacity: 0.8;
            }
        }

        .slick-prev::before {
            font-family: FontAwesome !important;
            content: "\f104" !important;
            color: gray !important;
        }

        .slick-next {
            height: 48px !important;
            z-index: 1000;
            width: 44px !important;
            right: -25px !important;
            background: #fff !important;
            border: 2px solid #d7d7d7 !important;
            opacity: 0.6;
            border-radius: 5px;
            transition: box-shadow 0.2s ease, opacity 0.2s ease !important;

            &:hover {
                opacity: 1;
            }

            &:active {
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
                opacity: 0.8;
            }
        }

        .slick-next::before {
            font-family: FontAwesome !important;
            content: "\f105" !important;
            color: gray !important;
        }
    }
}

.section-outstanding-doctor {
    .section-customize {
        padding: 5px;

        .customize-border {
            border: 1px solid gray;
            padding: 20px;
        }
    }

    .outer-bg {
        display: flex;
        justify-content: center;
    }
}

.section-share {
    height: 420px;

    .section-container {
        margin: 0 200px;
        display: flex;
        flex-direction: column;

        .section-header {
            margin: 40px 0 5px 0;
            height: 60px;
            padding-top: 30px;
            position: relative;

            .title-section {
                position: absolute;
                bottom: 0;
                left: 15px;
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                position: absolute;
                top: 0;
                right: 20px;
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background-color: #cfcfcf;
                border-radius: 5px;
                text-transform: uppercase;
                transition: background-color 0.3s ease;

                &:hover {
                    background: #f7d808;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}