.manage-doctor-container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .manage-doctor-title {
        text-align: center;
        margin: 30px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #0071ba;
    }

    .more-infor {
        display: flex;
        width: 60%;

        .content-left {
            width: 35%;
            padding: 0 10px;
        }

        .content-right {
            width: 70%;
            padding: 0 10px;
        }
    }

    .more-info-extra {
        width: 60%;
    }

    .manage-doctor-editor {
        width: 60%;
        padding: 0 10px;
    }

    .btn-detail-doctor {
        width: 60%;
        padding: 0 10px;
    }
}