@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    padding: 0 20px;
    position: relative;

    .btn-logout {
        display: flex;
        align-items: center;
        color: $common-text-color;
        height: 40px;
        padding: 0 15px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
            margin-left: 5px;
        }
    }
}
